body {
    margin: 0;
    background-color: hsl(234, 29%, 20%);
    font-family: "Roboto";
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main.hide {
    visibility: hidden;
}
.container {
    background-color: white;
    width: 80%;
    margin: auto;
}
.texts {
    padding: 1rem;
}
.texts h1 {
    font-family: "RobotoBold";
}
.picmob {
    max-width: 100%;
    width: 100%;
}
.picdesk {
    display: none;
}
ul {
    list-style-image: url(./assets/images/icon-list.svg);
}
li + li {
    padding-top: 1rem;
    margin: 0;
}
input {
    width: 90%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px hsl(231, 7%, 60%);
}
label {
    font-size: 13px;
    
}


  button {
    width: 100%;
    color: white;
    background-color: hsl(234, 29%, 20%);
    padding: 1rem 0;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .error {
    display: block;
    float: right;
    font-size: 13px;
}

.success {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.success.show {
    visibility: visible;
}
.icon-success{
    max-width: 100%;
    width: 20%;
}

@media (min-width: 768px) {
    main {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 1rem;
    border-radius: 0.5rem;
    }
    .picmob {
        display: none;
    }
    .picdesk {
        display: block;
        max-width: 100%;
    }
    .pics{ 
        order: 2;
    }
    .texts {
        order: 1;
        padding-right: 2rem;
        width: 50%;
    }
    ul {
        margin-bottom: 3rem;
    }
    button:hover {
        background-image: linear-gradient(to bottom right, hsl(4, 100%, 67%), hsl(29, 99%, 55%));
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: none;
    }
    .success {
        width: 30%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50;
        max-height: 50%;
        border-radius: 1rem;
    }
}


@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "RobotoBold";
    src: url(./assets/fonts/Roboto-Bold.ttf);
}